.articlesCard {
  border: 2px solid var(--blue);
  background-color: white;
  padding: 20px 15px;
  margin-bottom: 20px;
  width: 70%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h3 {
  margin-top: 5px;
}

.aTitle {
  color: var(--blue);
}

.aTitle:visited {
  color: #6290c3;
  font-weight: 400;
}

.aTopic {
  color: var(--orange-yellow);
}
