.articlesCard {
  display: grid;
  grid-template-columns: 5.5fr 0.5fr;
  grid-template-areas: "main vote";
  border: 2px solid var(--blue);
  background-color: white;
  padding: 20px 15px;
  margin-bottom: 30px;
  width: 70%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.aTitle {
  color: var(--blue);
  grid-area: main;
}

.aTitle:visited {
  color: #6290c3;
  font-weight: 400;
}

.aTopic {
  color: var(--orange-yellow);
}

.button {
  grid-area: main;
  display: block;
  padding: 5px 30px;
  margin-bottom: 10px;
  border: 2px solid var(--pinkyred);
  font-family: "Imprima", sans-serif;
  background-color: #ffd4de;
  color: #f22e5b;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.vote {
  margin-top: 10px;
  grid-area: vote;
}

.body {
  margin: 10px 0px 0px 0px;
  grid-area: main;
}

.details {
  grid-area: main;
  margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
  .body {
    margin-top: 5px;
  }
}
