.listContainer {
  border-top: 4px solid var(--magicmint);
  margin-top: 20px;
  padding: 12px;
}

.button {
  padding: 10px 50px;
  margin-left: 5px;
  margin-top: 20px;
  border: 2px solid var(--green);
  font-family: "Imprima", sans-serif;
  background-color: var(--magicmint);
  color: #034e3b;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button:disabled {
  opacity: 0.2;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.logInToPost {
  text-align: center;
  padding: 20px 18px;
  border: 2px solid var(--green);
  background-color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  color: var(--blue);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
