header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid var(--orange-yellow);
}

h1 {
  font-family: "Cantata One", serif;
  color: var(--pinkyred);
  margin-left: 10px;
}

.headerP {
  color: var(--green);
}

.button {
  border: 1px solid var(--green);
}

@media screen and (max-width: 640px) {
  .button {
    display: block;
  }
}
