nav {
  padding: 10px 0px;
  background-color: #ebf2fa;
  border-bottom: 4px solid var(--blue);
}

nav a {
  text-decoration: none;
  font-weight: 600;
}

nav a:visited {
  color: #6290c3;
  font-weight: 400;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

li {
  list-style-type: none;
  color: var(--blue);
}
