nav {
  padding: 10px 0px;
  background-color: #ebf2fa;
  border-bottom: 4px solid var(--blue);
}

.navA {
  text-decoration: none;
  font-weight: 600;
  color: #48698e;
}

.navA:visited {
  color: #6290c3;
  font-weight: 400;
}

.navA:hover {
  opacity: 0.7;
  transition: ease-in 0.2s;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.li {
  list-style-type: none;
  color: var(--blue);
}
