.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  text-align: center;
  width: 70%;
  padding: 20px 20px;
  border: 2px solid var(--green);
  background-color: white;
  display: inline-block;
  margin-bottom: 20px;
  color: palevioletred;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.contentArea {
  margin-top: 5px;
  padding: 5px;
  height: 80px;
  width: 95%;
  border: 2px solid var(--magicmint);
}

.content {
  display: block;
}

.titlearea {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--magicmint);
  margin-top: 5px;
}

.title {
  display: block;
}

.topicarea {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--magicmint);
  margin-top: 5px;
}

.topic {
  display: block;
}
