/* holding global stylings */
/* holding global styles */

@import url("https://fonts.googleapis.com/css?family=Cantata+One|Imprima&display=swap");

:root:global {
  --whitegrey: #fefffe;
  --green: #06d6a0;
  --orange-yellow: #ffd166;
  --pinkyred: #ef476f;
  --blue: #26547c;
  --magicmint: #d1f7ed;
}

.App:global {
  text-align: center;
}

body:global {
  font-family: "Imprima", sans-serif;
  margin: 0;
  background-color: #fffafa;
}

h2:global {
  font-family: "Cantata One", serif;
  color: var(--pinkyred);
  font-size: 1.8rem;
}

h3:global {
  color: var(--pinkyred);
}

p:global {
  color: #000;
}
